@import '_reset.scss';
@import '_960.scss';
@import '_all.scss';

$d_purple: #7B00aF;

@mixin font-scary(){
	font-family: "bodedo-1","bodedo-2",sans-serif;
}

body, html{
	font-family: 'futura', sans-serif;
	height: 100%;
	background-color: #222;
	color: white;

}

.hidden{
	display:none;
}

h1 a{
	
	text-decoration:none;
	color: inherit;
}

a{
	color: #0ff;
}

.navigation{

	font-size: 1.3em;

	a{

		color: white;
	}
}

#main-container{
	@extend .container_12;
	form{
		@extend .container_8;
		display: block;
		padding: 10px 10px;
		.other-fields{
			input{
						display:block;
			}
		
			padding: 4px 0px;
			color:$d_purple;
			@extend .grid_3;
	
			@include box-shadow(4px 4px 2px 5px #222 );
		}
		.reason{
			@extend .grid_4;
		
		}
		.rip{
			@extend .grid_1;
		}
	}
}

header{
	h1{
		font-size:3em;
	}
	p{
		font-size: 1em;
	}
	padding: 0px 20px;
	display: block;
	height: 130px;
	line-height:60px;
	width:100%;
	color: black;
	.normal{
		color: white;
	}
	@include box-shadow(-3px -4px 8px 2px #ccc inset);
	@include linear-gradient(#ccc, #999);
	@include border-radius(3px);
}

ul.startups{
	@extend .container_8;
	li.startup{
		border-bottom:1px solid #ddd;
		padding: 8px 10px;
	}

}

.startup{
	h3{
		font-size:1.5em;
	}
	h4{
		padding: 2px;
		font-size: .85em;
	}
	h5{
		padding: 2px;
		font-size: .75em;
	}
	.reason{
		padding: 10px;
	}
	.tags{
		padding-bottom: 4px;
	}
	.validations{
		li{
			border-top: 1px solid #444;
			padding: 3px 0px;
			margin: 20px 10px;
		
		}
		
	}
}

.white-button{
	@include border_radius(8px);
	@include linear_gradient(#fff, #aaa);
	@include box-shadow(0px -1px 1px #fff inset);
	padding: 2px 3px;
	border: 1px solid #ddd;
	&:hover{
		border:1px solid transparent;
		text-decoration:none;
		@include linear_gradient($d_purple +#323, $d_purple);
		@include box-shadow(0px -1px 1px transparentize($d_purple +#323, .8));
		text-shadow: -1px -1px 0 $d_purple - #222;
		color:white;
		cursor: pointer;
	}
	&:active{
		@include linear_gradient($d_purple - #203040, $d_purple);
		@include box-shadow(0px -1px 1px transparentize($d_purple, .8));
		text-shadow: -1px -1px 0 $d_purple - #222;
		color:white;
	}

}

.tags, .token-input-token{
	 @include font-scary();

	font-size:.75em;
	a{
		text-decoration:none;
		color: #eee;		

	}
	li, p{
		display: inline-block;
		padding: 4px 2px;
		@include border_radius(4px);
		@include linear_gradient($d_purple + #555, $d_purple + #222);
		margin: 0px 2px;
		color: #eee;	
	}
}

.big{
	font-size:2em;
}

input.white-button{
	border: 1px solid transparent;
}

.token-input-delete-token{
	cursor: pointer;
}

.validation-explanation{
	margin:25px 0px;
}

.error{
	color: #ff0;
	display: inline;
	font-size: .65em;
	
}

input.error{
	color:#990;
}

.examples{
	ul{
		list-style-type: square;
		li{
			font-size:1.4em;
			margin:10px 0px;
			@include font-scary();
		}
	}
}

.blurred{
	color: #ddd;

}

.assumptions{
	li{		
		list-style-type: square;
		border-bottom: 1px solid #eee;
		padding: 30px 0px;
		.big{
			@include font-scary();
		}
	}
	.validations{
		padding-left:30px;
		border:0;
		li{
			border: 0px;
		}
	}
}


div.token-input-dropdown {
    position: absolute;
    width: 400px;
    background-color: #fff;
    overflow: hidden;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    cursor: default;
    font-size: 11px;
    font-family: Verdana;
    z-index: 1;
}

.token-input-dropdown p {
    margin: 0;
    padding: 5px;
    font-weight: bold;
    color: #777;
}

.token-input-dropdown ul {
    margin: 0;
    padding: 0;
}

.token-input-dropdown ul li {
    background-color: #fff;
	color: black;
    padding: 3px;
    margin: 0;
    list-style-type: none;
}

.token-input-dropdown ul li.token-input-dropdown-item {
    background-color: #fff;
}

.token-input-dropdown ul li.token-input-dropdown-item2 {
    background-color: #fff;
}

.token-input-dropdown ul li em {
    font-weight: bold;
    font-style: normal;
}

.token-input-dropdown ul li.token-input-selected-dropdown-item {
    background-color: #3b5998;
    color: #fff;
}