<li class="validation">
	
	<h3><span class="scary"><%= validation.startup.name %> <%=validation.confirms ? "Validates:" : "Invalidates:"%></span>  <%= validation.assumption.value%></h3>
	<h5>How?<h5>
	<p><%= validation.how%></p>
	
</li>